@import url(normalize.css);


:root {
          --amarillo: #eac926;
          --azul: #03264c;
          --celeste: #1259c3;
          --gris-oscuro: #666;
          --gris-claro: #ebebeb;
          --verde: #39b54a;
        }

main {
          padding: 10%;
}

form {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
}

input#usuario,
input#password {
          width: 100%;
          font-size: 10px;
          padding: 5px;
          margin: 15px 0;
          border-radius: 3px;
          border-color: white;
          border-style: none;
          box-shadow: none;
}

button {
          text-align: center;
          width: 100%;
          background-color: black;
          color: white;
          font-size: 10px;
          margin: 15px 0;
          padding: 5px;
          border-radius: 3px;
          border-color: white;
          border-style: none;
          box-shadow: none;
          transition: background-color 200ms;
}

button:hover {
  background-color: #0022aa;
}